@import "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {

    /*  Variaveis Style Atual  */
    --cor-fundo-section: #D8E9FD;
    --cor-letra-titulo: #003DA7;
    --cor-letra-clara: #1900ff;
}






/*  Style Tela Atual  */

.flex-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.box-row {
    display: flex;
    flex-direction: row;
}

.large-box {
    width: 70vw;
    height: 29vh;
    background-color: var(--cor-fundo-section);
    margin: 1%;
    border-radius: 10px;
}

.small-box {
    width: 30vw;
    height: 29vh;
    background-color: var(--cor-fundo-section);
    margin: 1%;
    border-radius: 10px;
}

.large-container {
    display: flex;
}

.small-conteiner {
    display: flex;
}

#img-robo-conteiner {
    margin: 1%;
}

#img-robo {
    height: 27vh;
}

.texto-titulo {
    margin: 2%;
    width: 15vw;
}

#texto-cima {
    color: var(--cor-letra-titulo);
    font-size: 2em;
    margin-top: 10%;
}

#texto-baixo {
    color: var(--cor-letra-titulo);
    font-size: 2em;
    margin-top: 10%;
}

#btn-titulo {
    margin-top: 4%;
    background-color: var(--cor-letra-titulo);
    color: white;
    padding: 3%;
    border-radius: 20px;
    text-decoration: none;
}

#box-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    margin-left: 5%;
}

.item {
    margin: 5px;
}

.btn-item {
    width: 70%;
    height: 100%;
    background-color: var(--cor-letra-titulo);
    color: white;
    padding: 1%;
    border-radius: 20px;
}

.header-small-box {
    margin: 2%;
    display: flex;
}

.box-text-header{
    margin-top: 0.5%;
}

.text-header {
    color: var(--cor-letra-titulo);
}

.box-text-header-2 {
    margin-left: 8%;
    margin-top: 0.7%;
}

.text-header-2 {
    color: var(--cor-letra-clara);
    font-size: 1.1em;
}

.box-small-main {
    margin: 6%;
    
}

#list-item {
    display: flex;
    justify-content: space-between;
}

.item-list {
    list-style-type: none;
    margin: 2%;
    font-size: 1em;
    font-weight: 700;
    color: var(--cor-letra-clara);
}

#white-line {
    margin: auto;
    width: 100%;
    height: 0.3vh;
    background-color: white;
}

.box-status {
    margin-top: 2%;
}

.status-item {
    margin-top: 1%;
    margin-right: 20%;
    width: 100%;
    height: 3.5vh;
    background-color: white;
    border-radius: 5px;
}

.list-item {
    display: flex;
    gap: 40px;
}

.item-list-valor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 10% 0% 10%;
}

.item-list-text {
    list-style-type: none;
    margin: 2%;
    font-size: 1em;
    font-weight: 700;
    color: black;
}

.item-list-div {
    list-style-type: none;
    margin: 0.5%;
}

.box-info-green {
    word-wrap: break-word;
    width: 120%;
    background-color: lightgreen;
    padding: 8%;
    border-radius: 5px;
}

.box-info-yellow {
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210%;
    height: 85%;
    background-color: rgb(218, 218, 43);
    padding: 8%;
    border-radius: 5px;
}

.box-info-red {
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153%;
    height: 85%;
    background-color: red;
    padding: 8%;
    border-radius: 5px;
}

.text-box-info {
    font-size: 0.8em;
    text-align: left;
    font-weight: 700;
    color: black;
}

.text-white {
    color: white;
}